body {
    margin: 0;
}

.top {
    display: flex;
    color: #FFFFFF;
    background-color: #707070; 
    width: 100%;
    height: 8vh; 
    justify-content: space-between; 
    align-items: center;
    font-family: Arial, Helvetica, sans-serif;
}

.top-left {
    font-size: 30px; 
    padding-left: 30px; 
}

.top-right {
    padding-right: 30px; 
} 

span {
    padding: 15px;
}

.black {
    display: flex;
    background-color: #000000;
    width: 100%;
    height: 60vh; 
    align-items: center;
    justify-content: space-around;
    color: #EAE15E; 
    font-size: 65px; 
    font-family: Arial, Helvetica, sans-serif; 
}

.white {
    /* display: flex; 
    flex-wrap: wrap; */
    background-color: #FFFFFF;
    width: 100%; 
    height: 140vh; 
    /* justify-content: space-evenly; 
    align-items: center;  */
} 

.white-top {
    display: flex; 
    justify-content: space-evenly; 

}

.three-boxes {
    border-radius: 25px; 
    background-color: #A4FFD7; 
    width: 240px;
    height: 40vh; 
    margin: 60px;
}

.white-middle {
    display: flex;
    justify-content: space-evenly;
}

.two-boxes {
    background-color: #FFC36C; 
    width: 400px; 
    height: 38vh; 
    margin: 0, 60px;
}

.white-bottom {
    display: flex; 
    justify-content: space-around;
    align-items: center;
    height: 40vh;
}

.text-box {
    width: 360px;
    height: 25vh;
    margin-left: 30px;
    font-size: 14px;
}

.image {
    content:url(http://osu-wams-blogs-uploads.s3.amazonaws.com/blogs.dir/411/files/2017/12/books-for-clip-art-9.jpg);
    width: 300px;
    height: 175px;
    margin-right: 60px;
}

.bottom {
    background-color: #3A3B56;
    width: 100%;
    height: 20vh; 
}