* {
    box-sizing: border-box;
}

nav {
    background: grey;
    color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 75px;
    padding: 0 65px;
    font-family: Helvetica;
}

h1 {
    font-size: 40px;
}

div {
    display: flex;
    justify-content: space-between;
    width: 18%;
}

header {
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    color: yellow;
    width: 100%;
    height: 450px;
    font-family: Helvetica;
    font-size: 70px;
}

main {
    display: flex; 
    flex-wrap: wrap;
    justify-content: space-evenly;
    width: 100%;
    height: 1050px;
    padding: 65px 0;
}

.green-square {
    background: aquamarine;
    height: 300px;
    width: 300px; 
    border-radius: 10px;
}

.orange-rectangle {
    background: orange;
    height: 300px; 
    width: 500px; 
}

#random-paragraph {
    height: 150px;
    width: 377px;
    font-family: Helvetica;
    font-size: 14px;
    margin-right: 120px;
    margin-top: 55px;
}

#JRT-Painting {
    height: 200px;
    width: 300px;
    margin-top: 35px;
    margin-right: 50px;
}

footer {
    background: darkslateblue;
    width: 100%;
    height: 150px;
}